/* body {
    font-family: Roboto, sans-serif;
  }
   */
* {
  /* border: 1px solid rgb(247, 73, 73); */
}
#container-raking{
    /* border: 1px solid rgb(247, 73, 73); */
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 1.5rem 1rem 1.5rem;
    background-color: rgb(245, 245, 245);
}
#row-base-raking {
  width: 97%;
  margin-top: 1.5rem;
  padding: 0 1.5rem 1rem 1.5rem;
  font-family: Roboto, sans-serif;
  display: flex;
  align-items: center;
  justify-items: center;
  background-color: white;
  border-radius: 8px;
}
#col-table {
  padding: 1.5rem;
}

#col-table-omissao {
  padding: 1.5rem;
}