#page-pedido {
    width: 99vw;
    height: 100vh;
    margin-top: 2rem;
    display: flex;
    /* border: 1px solid rgb(247, 73, 73); */

}

#page-pedido aside {
    position: fixed;
    left: 0;
    height: 100%;
    padding: 50px 20px 251px;
    width: 12%;
    color: aliceblue;
    background-color: #012a4e ;
    /* border: 1px solid rgb(247, 73, 73); */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#main{
    margin-top: 1.5rem;
    width: 100%;
    margin-left: 12.1%;
    display: flex;
    flex-direction: column;
    color: black;
    background-color: rgb(248, 248, 248);
    /* border: 1px solid rgb(247, 73, 73); */
}
#row-visao {
    display: flex;;
    align-items: center;
}