*{
   
    /* border: 1px solid rgb(247, 73, 73); */
    
}

/* Cor zinz ma refinado para background #d4ffe1 */
#container {
    margin-top: 3.5rem;
    display: flex;
    align-items: center;
    padding: 2.5rem;
    background-color: #fafafa ;
    /* background-color: rgb(245, 245, 245); */

}
#row-base{
    background-color: white;
    border-radius: 8px;
    
}

#row-visao {
    display: flex;;
    align-items: center;
}

#col-card {
     border-right: 1px solid rgb(218, 216, 216);

}
#col-titulo {
    display: flex;
    /* padding-left: 1.5rem; */
    color: #2BD925;
    font-size: 2.1rem;
    font-weight: bold;
    justify-content: center;

}
#col-pedido{
    display: flex;
    font-size: 1.2rem;
    justify-content: center;
    font-weight: bold;
}

#row-gauge{
    display: flex;
    padding-top: 1rem;
    /* padding-left: ; */
    
    align-content: center;
    justify-content: center;


}

#col-legenda-gauge {
    display: flex;
    padding: .5rem;
    font-size: 12px;
    padding-left: .5rem;
    /* align-content: space-between; */
    justify-content: space-between;
    flex-direction: row;


}
#col-legenda-gauge-2{
    display: flex;
    padding: .5rem;
    font-size: 12px;
    padding-left: .5rem;
    /* align-content: space-between; */
    justify-content: space-between;
    flex-direction: row;

}
#container-orderevolution {
    /* margin-top: 1.5rem; */

    background-color: rgb(245, 245, 245);

}

#row-orderevolution{
    display: flex;
    padding: 1.5rem;
    /* border: 1px solid rgb(247, 73, 73); */
}

#col-orderevolution {
    /* border: 1px solid rgb(247, 73, 73); */
    align-items:center ;
    justify-items: center;
    background-color: white;
    border-radius: 8px;
    /* border: 1px solid rgb(247, 73, 73); */

}

#row-instancia{
    display: flex;
    justify-content: center;
    border: 1px solid rgb(247, 73, 73);
    
}
/* #col-instancia{ */
    /* border: 1px solid rgb(247, 73, 73); */
    /* display: flex; */
    /* padding: auto;  */
    /* max-width: 100%; */
    /* flex-direction: row; */
    /* justify-content: center; */
/* } */

#row-boxes{
    /* max-width: 550px; */
    width: 100%;
    display: flex;
    margin-top: 2rem;
    margin-left: 1rem;
    justify-content:space-evenly ;
}

#col-boxes {
    display: block;
    background-color: white;
    border-radius: 0 8px 8px 0;
    /* border: 1px solid rgb(247, 73, 73); */

}






 
#col-boxes-2 {
    background-color: white;
    border-radius: 8px;
    /* border: 1px solid rgb(247, 73, 73); */


}

 
