*{
   
    /* border: 1px solid rgb(247, 73, 73); */
    
}
#container {
    margin-top: 3.5rem;
    display: flex;
    align-items: center;
    padding: 2.5rem;
    background-color: rgb(245, 245, 245);

}
#row-base{
    background-color: white;
    border-radius: 8px;
    
}

#row-visao {
    display: flex;;
    align-items: center;
}

#col-card {
     border-right: 1px solid rgb(218, 216, 216);

}
#col-titulo {
    display: flex;
    /* padding-left: 1.5rem; */
    color: #2BD925;
    font-size: 2.1rem;
    font-weight: bold;
    justify-content: center;

}
#col-pedido{
    display: flex;
    font-size: 1.2rem;
    justify-content: center;
    font-weight: bold;
}

#row-gauge{
    display: flex;
    padding-top: 1rem;
    /* padding-left: ; */
    
    align-content: center;
    justify-content: center;


}

#col-legenda-gauge {
    display: flex;
    padding: .5rem;
    font-size: 12px;
    padding-left: .5rem;
    /* align-content: space-between; */
    justify-content: space-between;
    flex-direction: row;


}
#col-legenda-gauge-2{
    display: flex;
    padding: .5rem;
    font-size: 12px;
    padding-left: .5rem;
    /* align-content: space-between; */
    justify-content: space-between;
    flex-direction: row;

}
#container-orderevolution {
    /* margin-top: 1.5rem; */

    background-color: rgb(245, 245, 245);

}

#row-orderevolution{
    display: flex;
    padding: 1.5rem;
    /* border: 1px solid rgb(247, 73, 73); */
}

#col-orderevolution {
    /* border: 1px solid rgb(247, 73, 73); */
    align-items:center ;
    justify-items: center;
    background-color: white;
    border-radius: 8px;
    /* border: 1px solid rgb(247, 73, 73); */

}

#row-boxes{
    max-width: 550px;
    display: flex;
    margin-top: 1rem;
    align-content: space-between;
    
    
    /* margin-top: 1.rem; */
    display: flex;
    /* align-content: center; */
    /* justify-content: space-between; */
}


#col-boxes {
    display: block;
    padding-left: 2rem;
    /* justify-items:space-between ; */
    /* align-content:space-between; */
    background-color: white;
    border-radius: 8px;
    /* border: 1px solid rgb(247, 73, 73); */

}
 
#col-boxes-2 {
    background-color: white;
    border-radius: 8px;
    /* border: 1px solid rgb(247, 73, 73); */


}
 
