
.box-message {
  border-radius: 8px;
  width: 15rem;
  height: 5.5rem;
  color: rgb(255, 254, 254);
  background-color: rgb(250, 250, 250);

  box-shadow: 7px 10px 32px 4px rgba(0,0,0,0.78);
  -webkit-box-shadow: 7px 10px 32px 4px rgba(0,0,0,0.78);
  -moz-box-shadow: 7px 10px 32px 4px rgba(0,0,0,0.78);
}
  

.title{
    /* display: flex; */
    font-family: Roboto, sans-serif;
    padding: .4rem 0 0 0;
    color: #03612c;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
        /* border: 1px solid rgb(247, 73, 73); */

}
.texto{
    display: flex;
    align-items: center;
    justify-content:space-between ;
    color: rgb(80, 80, 80);
    padding:0 1.5rem 0 1.5rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}
.title-externo{
  display:flex;
  padding-top: .8rem;

  width: 70%;
  justify-content: center;
  font-family: Roboto, sans-serif;
  color: #139DF2;
    /* border: 1px solid rgb(247, 73, 73); */




}