/* @import url(https://fonts.googleapis.com/css?family=Roboto); */



body {
  font-family: Roboto, sans-serif;
}

.row-chart {
    max-width: 750px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
  